body{
    background-color: black;
    height: 100%;
}
.background{
    background-color: black;
    min-height: 100%;
}
.logo{
    width: 6%;
    height: 20%;
    margin-top: 5%;
    margin-left: 25%;
}
.box-border{
    display:block; 
    border: 1px solid grey;
    border-radius: 10px;
    width:29mm;
    height:5mm;
    font-size: 10px;
    padding:0 5px;
    background-color:white;
    text-align:center;
    margin-top: 10%;
    color:black;
    margin-left:3%; 
}
.first-text{
    float: left;
}
.dropdown-icon{
    float: right;
}
.text{
    color: white;
    font-size: 7pt;
    margin-top: 15mm;
    margin-left: 2%;
}
.category-text{
    color: white;
    font-size: 7pt;
    margin-left: 2%;
    margin-top: 15mm;
}
.flex-container {
    display: flex;
}
.category-border{
    display:block; 
    border:1px solid grey;
    width: 27mm;
    height: 17mm;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 7px blue;
    margin-left: 2.5mm;   
}
.category-border-last{
    border:1px solid grey;
    width: 20mm;
    height: 17mm;
    background: white;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 0px 7px blue;
    margin-left: 2.5mm;   
}

